nav img{
	width: 150px;
}

body{
	background-color: white;
}

@media screen and (min-widht: 768px) and (max-widht: 1024px){
	body{
		background-color: white;
	}
}

@media screen and (min-widht: 1025px) and (max-widht: 1200px){
	body{
		background-color: white;
	}
}

@media screen and (min-widht: 1201px){
	body{
		background-color: white;
	}
}